pandas
numpy
seaborn
xgboost
scikit-learn
joblib
dvc
dvc-s3
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
types-pyYAML
scipy
dill
shap
mlflow==2.2.2
notebook
matplotlib
pydantic
fastapi
uvicorn
kmodes
streamlit
streamlit_shap
explainerdashboard
-e .
